<ion-header>

</ion-header>

<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <div class="shape">
        <img src="../../assets/shape.svg" alt="">
        <ion-card>
          <ion-card-title>
            Welcome!
          </ion-card-title>
          <ion-card-subtitle>
            Time to Shop, Let's Shop <a href="#">Sign in</a>
          </ion-card-subtitle>
          <ion-card-content>
            <ion-item>
              <ion-input placeholder="Email address">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Password">
              </ion-input>
            </ion-item>
            <a (click)="NavigateToForgotPasswordPage()">Forgot Password</a>
            <div class="button">
              <ion-button (click)="NavigateToHomePage()">Sign In</ion-button><br>
              <span>Don't have an account ? <a (click)="NavigateToSignUpPage()">Sign Up</a></span>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
