

<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <div class="shape">
        <img src="../../assets/shape.svg" alt="">
        <ion-card>
          <ion-card-title>
          ForgotPassword!
          </ion-card-title>
          <ion-card-subtitle>
           Enter your <strong>Email</strong> to Reset Password
          </ion-card-subtitle>
          <ion-card-content>
            <ion-item>
              <ion-input placeholder="Email Address">
              </ion-input>
            </ion-item>
            
            <div class="button">
              <ion-button>Reset Password</ion-button><br>
              <!-- <span>alredy have an account ? <a href="#">Sign In</a></span> -->
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  
</ion-content>
